* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
.title {
    text-transform: capitalize;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.title::after {
    content: "";
    height: 5px;
    width: 80px;
    display: block;
    background-color: #f59e0b;
    margin: 10px auto;
}
ul {
    list-style-type: none;
}
.py {
    padding: 120px 0;
}
.mx {
    margin: 0 2%;
}

i {
    color: #f59e0b;
}
.header {
    background-color: #fde68a;
    border-bottom: 1px solid #b91c1c;
    color: #1f2937;
    position: fixed;
    width: 100%;
    padding: 10px 30px;
    z-index: 10;
    height: 50px;
}

.fa-house {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #b91c1c;
}

.header-search {
    margin-left: 50px;
    position: relative;
    width: 250px;
    display: inline-block;
}
.header-search input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 10px 40px;
    border: 0;
}

.fa-magnifying-glass {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    color: #b91c1c;
}

.link {
    text-transform: capitalize;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 40px;
}

.link li {
    display: inline-block;
    margin-left: 20px;
}

.link li::after {
    display: block;
    margin-top: 4px;
    content: " ";
    width: 0;
    height: 2px;
    background-color: #f59e0b;
    transition: 0.3s;
}

.link li:hover::after {
    width: 100%;
}
.link li a {
    color: #b91c1c;
    font-size: 18px;
}

.dropdown {
    position: absolute;
    background-color: #b91c1c;
    z-index: 33;
    width: 100px;
    top: 100%;
    visibility: hidden;
    opacity: 0;
}
.dropdown li {
    display: block;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.menu:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.main {
    position: relative;
    padding-top: 50px;
    height: 100vh;
    background-size: cover;
    background-image: url("../images/cooking.jpg");
}
.overlay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.main-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    text-align: center;
}
.main-info h1 {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}
.main-info p {
    font-weight: bold;
    margin: 10px 0;
    color: #e5e7eb;
    letter-spacing: 1px;
}
button {
    padding: 19px;
    border: 0;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 15px;
    cursor: pointer;
}

.PrimaryButton {
    background-color: #d72638;
    color: #ffffff;
}

.PrimaryButton:hover {
    background-color: #b91c1c;
}

.SecondaryButton {
    background-color: #f59e0b;
    color: #1f2937;
}

.SecondaryButton:hover {
    background-color: #d97706;
}

.parent {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    overflow: auto;
}
.card {
    border: 1px solid;
    width: 32%;
    padding: 40px 20px;
    float: left;
    border-radius: 10px;
    border: 1px solid #f59e0b;
    position: relative;
}

.card:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #fde68a;
    border-radius: 10px;
    transition: 0.5s;
    z-index: -1;
}

.card:hover::after {
    height: 100%;
    width: 100%;
}
.card:hover {
    color: #1f2937;
    transition: 0.5s;
}
.card i .fa-utensils,
.fa-kitchen-set,
.fa-mobile-screen-button {
}
.card h3 {
    margin: 15px 0;
}
.card p {
    margin: 15px 0;
}

.card a {
    color: #b91c1c;
}
.featured {
    background-color: #fde68a;
    text-align: center;
}

.featured .parent {
    margin-top: 30px;
}

.featured .card {
    display: inline-block;
    float: none;
    padding: 0;
    width: 28%;
    border-radius: 0;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    border: 0;
}

.offer i,
.welcome i {
    font-size: 40px;
    color: #f59e0b;
}

.featured .image {
    height: 250px;
}

.featured .card .overlay {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
    overflow: hidden;
    text-align: center;
}
.overlay .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay .info h3 {
    font-size: 30px;
}
.overlay .info p {
    margin: 10px 0;
}
.overlay .info a {
    background-color: #f59e0b;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 4px;
}

.overlay .info a i {
    color: #1f2937;
}

.featured .card:hover .overlay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.offer .card::after {
    left: 0;
}

.offer .card i {
    position: absolute;
}
.offer .card h3,
.offer .card p,
.offer .card a {
    padding-left: 60px;
}
.offer .card h3 {
    font-size: 30px;
    margin: 0;
}

.offer .card {
    text-align: left;
}
.offer .parent {
    margin-top: 30px;
}

.choose {
    background-color: #fde68a;
}
.choose .parent {
    text-align: left;
    margin-top: 30px;
}

.choose .title {
    text-align: left;
}

.choose .title:after {
    margin: 10px 0;
    background-color: #b91c1c;
}

.choose-info {
    float: left;
    width: 55%;
}

.choose-img {
    float: right;
}

.choose-img img {
    width: 300px;
    height: 400px;
}
.choose-info ul li {
    margin-top: 30px;
    font-size: 18px;
}
.choose-info ul li i {
    margin-right: 10px;
    color: #b91c1c;
}
.dots {
    margin-top: 10px;
    text-align: center;
}
.dots div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    background-color: #d977065b;
}
.dots .first {
    background-color: #d97706;
}

.dots div:hover {
    background-color: #d97706;
}

.bg-image {
    background-attachment: fixed;
    background-size: cover;
    height: 40%;
    position: relative;
}

.stats {
    background-image: url("../images/cooking2.jpg");
}

.reviews {
    background-image: url("../images/cooking3.jpg");
}
.items {
    text-align: center;
    color: white;
    float: left;
    width: 25%;

    /* margin-left: 0.5%; */
}
.items i {
    font-size: 40px;
}
.items p {
    margin-top: 8px;
    font-weight: bold;
    font-size: 18px;
}

.bg-image .parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.price-circle {
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #f59e0b;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 20px auto;
    transition: 0.5s;
}
.price ul {
    margin: 20px 0;
}
.price ul li {
    margin-bottom: 20px;
}

.price-circle div {
    position: absolute;
    font-size: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.price-circle div span {
    font-size: 30px;
}

.price .card {
    padding: 20px 0;
    display: inline-block;
    width: 25%;
    float: none;
}

.price button {
    background-color: #b91c1c;
    color: white;
}

.price .card:after {
    width: 100%;
}

.price .card:hover .price-circle {
    border: 2px solid #b91c1c;
}
.reviews .items {
    float: left;
}
.reviews .items p {
    margin-top: 20px;
}
.items .image {
    width: 100px;
    height: 100px;
    float: left;
}
.items .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.items-info {
    overflow: hidden;
    font-size: 20px;
}
.items-info p {
    margin-top: 15px;
}

.reviews .parent {
    width: auto;
    width: 100%;
    padding: 0 150px;
}
.reviews .items {
    width: auto;
}

.team .image {
    width: 300px;
    height: 300px;
    margin: auto;
    position: relative;
}
.team .card .image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.team .card:hover .image::after {
    background-color: #fde68a5e;
    height: 100%;
}
.team .card:hover .icon {
    opacity: 1;
    visibility: visible;
}

.team .card::after {
    width: 100%;
    top: 0;
}
.team h3 {
    font-size: 30px;
}

.team p {
    margin: 0;
}
.team .icon {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 2;
}
.team .icon a {
    display: block;
    background-color: #d72638;
    padding: 14px;
}

.team .icon a i {
    color: white;
}

.recent .image {
    width: 250px;
    height: 250px;
    margin: auto;
}

.recent .card::after {
    height: 100%;
}

.recent a {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
}

.recent h3 {
    font-size: 30px;
}
.footer {
    background-color: #fde68a;
    text-align: center;
    padding: 10px 0;
    color: #b91c1c;
}
.footer .image {
    width: 300px;
    height: 200px;
    margin: auto;
}

.footer .image img {
    border-radius: 20px;
}
.footer .icon {
    margin: 10px 0;
}
.footer a {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #f59e0b;
    position: relative;
}

.footer i {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #b91c1c;
}
.footer a:hover {
    background-color: #b91c1c;
}
.footer a:hover i {
    color: #f59e0b;
}
